Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
Makefile


isolate*.*
flamegraph.html

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
